@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* primary colors */
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%); 
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);

    /* Neutral */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.6;
    font-size: 18px;
    color: var(--Very-dark-grayish-blue);
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Fraunces", sans-serif;
    color: var(--Very-dark-desaturated-blue);
}

body {
    font-family: "Barlow", sans-serif;
}

/* Buttons */
.btn-transform {
    border-bottom: 6px solid var(--Yellow);
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
}

/* showcase */

.showcase {
    background: url("./images/mobile/image-header.jpg") no-repeat center/cover;
}

.showcase .overlay {
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .showcase {
        background: url("./images/desktop/image-header.jpg") no-repeat center/cover;
    }
}